{% extends "base/home_page.html" %}
 {% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
<form method="POST" action="">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Вход</legend>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="">
<br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="">
</fieldset>
<div class="form-group">
    <button class="btn btn-outline-info" type="submit">Войти</button>
</div>
</form>
<div class="border-top pt-3">
<small class="text-muted">
    Нужен аккаунт? <a class="ml-2" href="{% url 'register' %}">Регистрация</a>
</small>
</div>
</div>


    <!-- <input type="submit" value="Login" /> -->

</form>

{% endblock content %}