<!-- Наследование кылабыз !-->
{% extends "navbar.html" %}
{% block content %}
{% include 'search_bar.html' %}
{% block search_bar %}
{% endblock %}
<!-- asdsda -->
    <div class="wrapper">
    <div class="home-container">
        <div>
        <br>
            <h3>Browse Topics</h3>
            <hr>
                <div>
                    <a href="{% url 'home_page'  %}">All</a>
                </div>

                {% block list %}
                {% include 'base/list_developers.html' %}
            {% endblock %}
        </div>


    <div>
        <h6>Avialable vacancy count: {{vacancy_count}}</h6>
        <a href="{% url 'create_vacancy' %}">Create vacancy</a>
<!--        <hr>-->
        <br><br>
        {% for vacancy in vacancies %}
        <div>
            <a href="{% url 'delete_vacancy' vacancy.id%}">Delete</a>
            <a href="{% url 'update_vacancy' vacancy.id %}">Edit</a>
            <br>
            <h3><a href="{% url 'vacancy_details' vacancy.id%}">{{vacancy.name}}</a></h3>
            <br>
            <!-- <small>{{room.topic.name}}</small> -->
            <h6><a href="#">@{{vacancy.employer.username}}</a></h6>
            <hr>
        </div>

        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}