<!DOCTYPE html>
<html lang="en">
    {% extends 'main.html' %}
    {% block content %}
<head>
    <meta charset="UTF-8">
    <!-- <title>Vacancy №{{ vacancy.id }}</title> -->
</head>
<body>


    {% for devgrade in devgrades %}
    <small>{{ devgrade.name }}</small>
    {% endfor %}

    <h1>{{vacancy.name}}</h1>
    <hr>Description:
            <h5>{{ vacancy.description }}</h5>
    <div>
        <a href="" type></a>
    </div>
    <a href="{% url 'quiz' vacancy.pk %}">Request</a>
    {% endblock %}
</body>
</html>